
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.appInfo{ 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 4rem;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.containerDiv1{
    flex: 1.8;
}

.containerDiv2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.containerInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.avatar{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    /* padding: 10px 0px; */
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.price{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
