/* src/components/Cards/styles.module.css */
.cardWrapper {
    width: 200px;
    height: 320px;
    margin: 0.5rem;
    transition: opacity 0.3s ease, cursor 0.3s ease;
}

.cardWrapper.locked {
    opacity: 0.5;
    cursor: not-allowed;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.media {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem;
}

.title {
    text-align: center;
}

.priceTag {
    color: green;
}